:root {
    /* change the values below to your colors from your palette */
    --primary-color: #7FB3DB;
    --secondary-color: #2c2f8c;
    --accent1-color: #fed106;
    --accent2-color: #D89C3D;
    --accent3-color: #8F601A;
  
    /* change the values below to your chosen font(s) Tried Hardman, didn't work very well*/
    --heading-font: Rockwell, Bernard MT, slab-serif;
    --paragraph-font: "Myriad Pro", Helvetica, sans-serif;
  
  }
  
  
  @keyframes drive {
    from {left: 0px;}
    to {left: 90%;}
  }
  
  body {
    background-color: var(--primary-color);
  }
  
  footer {
    max-height: 55px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  form {
    color: var(--secondary-color);
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
  }
  
  h1 {
    color: var(--accent1-color);
    font-size: 50px;
    text-align: center;
    background-color: var(--secondary-color);
    margin: 0px;
    padding: 0;
    border: 2px solid var(--accent1-color); 
  }
  
  h2 {
    font-size: 30px;
    border-top: 5px double;
    border-bottom: 5px double;
  }
  
  
  header {
    display: grid;
    grid-template-columns: repeat(36, 1fr);
  }
  
  img {
    max-width: 100%;
  }
  
  main {
    background-color: var(--primary-color);
  }
  
  nav {
    grid-column: 8 / 36;
    grid-row: 1 / 4;
  }
  
  nav a {
    color: var(--secondary-color);
    /*font-size: 1.5em; */
    justify-self: center;
  }
  
  nav a:hover {
    color: var(--secondary-color);
    background-color: var(--accent1-color);
  }
  
  nav ul {
    align-content: center;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(3, auto);
    list-style-type: none;
  }
  
  p {
    font-family: var(--paragraph-font);
    line-height: 20px;
    color: var(--secondary-color);
  }
  
  .banner-box {
    grid-column: 1 / 37;
    grid-row: 4 / 12;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    border: 2px solid var(--accent1-color); 
    background-color: var(--secondary-color);
  }
  
  .banner-box img {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  
  .home-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1em;
  }
  
  .home-northern-headline {
    grid-column: 2 / 6;
    grid-row: 5 / 6;
    text-decoration: none;
    margin: -20px 0px -20px 5px;
    padding: 0;
    text-align: center;
  }
  
  .home-northern-headline:hover,
  .home-southern-headline:hover {
    background-color: var(--accent1-color);
  }
  
  .home-northern-img {
    grid-column: 2 / 6;
    grid-row: 2 / 5;
    background-color: var(--accent1-color);
  }
  
  .home-northern-paragraph {
    grid-column: 2 / 6;
    grid-row: 6 / 8;
    margin: 0px;
  }
  
  .home-southern-headline {
    grid-column: 8 / 12;
    grid-row: 5 / 6;
    text-decoration: none;
    margin: -20px 0px -20px 5px;
    padding: 0;
    text-align: center;
  }
  
  .home-southern-img {
    grid-column: 8 / 12;
    grid-row: 2 / 5;
    background-color: var(--accent1-color);
  }
  
  .home-southern-paragraph {
    grid-column: 8 / 12;
    grid-row: 6 / 8;
    margin: 0px;
  }
  
  .home-northern-img,
  .home-southern-img,
  .home-subscription,
  .northern-img-1,
  .northern-img-2,
  .northern-img-3,
  .northern-img-4,
  .southern-img-1,
  .southern-img-2,
  .southern-img-3,
  .southern-img-4
  {
      border: 3px solid var(--accent1-color);
      box-shadow: 5px 5px 5px var(--secondary-color);
      z-index: 20;
  }
  
  .home-subscription {
    grid-column: 3 / 10;
    grid-row: 9 / 17;
    color: var(--secondary-color);
  }
  
  .hover-img {
    transition: transform 2s ease-in-out; 
  }
  
  .hover-img:hover{
    transform: scale(2);
  }
  
  .logo {
    border-radius: 5%; 
    opacity: 0;
  }
  
  .logo-box {
    z-index: 10;
    grid-column: 1 / 8;
    grid-row: 1 / 8;
    border-radius: 50%; 
    border: 5px solid var(--secondary-color);
  }
  
  .logo-box a {
    border-radius: 50%; 
  }
  
  .northern-headline-1,
  .southern-headline-1 {
    grid-column: 6 / 13;
    grid-row: 2 / 3;
  }
  
  .northern-img-1,
  .southern-img-1 {
    grid-column: 1 / 6;
    grid-row: 2 / 6;
  }
  
  .northern-paragraph-1,
  .southern-paragraph-1 {
    grid-column: 6 / 13;
    grid-row: 3 / 6;
  }
  
  .northern-headline-2,
  .southern-headline-2 {
    grid-column: 1 / 8;
    grid-row: 6 / 7;
  }
  
  .northern-img-2,
  .southern-img-2 {
    grid-column: 9 / 13;
    grid-row: 6 / 10;
  }
  
  .northern-paragraph-2,
  .southern-paragraph-2 {
    grid-column: 1 / 8;
    grid-row: 7 / 9;
  }
  
  .northern-headline-3,
  .southern-headline-3 {
    grid-column: 6 / 13;
    grid-row: 10 / 11;
  }
  
  .northern-img-3,
  .southern-img-3 {
    grid-column: 1 / 6;
    grid-row: 10 / 14;
  }
  
  .northern-paragraph-3,
  .southern-paragraph-3 {
    grid-column: 6 / 13;
    grid-row: 11 / 14;
  }
  
  .northern-headline-4,
  .southern-headline-4 {
    grid-column: 1 / 8;
    grid-row: 14 / 15;
  }
  
  .northern-img-4,
  .southern-img-4 {
    grid-column: 9 / 13;
    grid-row: 14 / 18;
  }
  
  .northern-paragraph-4,
  .southern-paragraph-4 {
    grid-column: 1 / 8;
    grid-row: 15 / 18;
  }
  
  .social {
    justify-self: end;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  
  #carLTR {
     position: relative;
     width: 100%;
     grid-column: 1 / 4;
  }
  
  #car {
    border-radius: 50%; 
    width: 10%;
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 4;
    animation-name: drive;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  #content {
    max-width: 950px;
    margin: 0 auto;
  }
  
  #cright {
    padding: 15px;
  }
  
  #logo {
    border-radius: 50%; 
  }
  
  #mail {
     width:100%;
  }
  
  #msg {
     width:100%;
  }
  
  #name {
     width:100%;
  }
  
  #phone {
     width:100%;
  }
  
  @media screen and (max-width: 550px) { 
  /* beginning of media query */
      nav ul, .banner-box {
      display: block;
     }
    
     .action h3 {
       color: #028090;
     }
     
     .logo-box {
       grid-column: 1 / 12;
       grid-row: 1 / 5;
     }
  
     h1 {
       font-size: 30px;
     }
    
     h2 {
      font-size: 20px;
     }
     
     .banner-box {
       display: grid; 
       grid-template-columns: repeat ( 5, 1fr);
     }
  
    /* end of media query */ 
  } 
  
  
  <area shape="circle" coords="710, 240, 44" href="" alt="Ft. Wayne">
  .mapbackgroundgrid {
  /*  display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(24, 1fr);
  */}
  
  .mapbackground {
    width: 100%;  
  }
  
  
  
  .mapbackgroundgrid {
    display: flex;
    justify-content: space-around;
    width: 100%
  /*  display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(24, 1fr);
  */}
  
  .mapbackground {
    width: 50%;  
    display: flex;
    justify-content: space-around;
  }
  
        <script>
          var eggStep = 0;
          function stepEgg() {
            eggStep++;
            switch (eggStep % 3) {
              case 1:
                alert("case 1")
                document.getElementById("hiddenlogo").style.display = "block";
                break;
              case 2:
                alert("case 2")
                break;
              default:
                alert("case 0")
                break;
            }
          }
        </script>
  
  #hiddenlogo {
    display: none;
    border-radius: 50%; 
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    z-index: 5;
  }
  
  #hiddenphoto {
    display: none;
    border-radius: 75%; 
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    z-index: 6;
  }
  
  
              <div id="hiddenlogo" >
                <img src="https://cdn.glitch.com/319a83f9-943e-4afd-91ea-5eae48cbddd0%2Fthumbnails%2FAsset%208-100.jpg?1606527794509" alt="Indiana on the Road logo" >
              </div> 
              <img  id="hiddenphoto" src="https://cdn.glitch.com/319a83f9-943e-4afd-91ea-5eae48cbddd0%2Fthumbnails%2FRichmond_Mark.jpg?1607888499352" alt="Site author's photo" >
  